$blue: #1698d9;
$pink: #d91667;
$yellow: #ffff66;
$grey: #b3b3b3;
$white: #ffffff;
$light-text: #666666;
$default-text: #000000;
$disabled-weight: #b3b3b3;
$disabled-background: #f2f2f2;
$disabled-text: #ffff66;