@mixin corner($size: 100%, $offset: 0, $border: 'border-left') {
    position: absolute;
    background-color: $white;
    width: $size;
    height: $size;
    top: $offset;
    left: $offset;

    @include card-common-layout($border);
}

@mixin card-common-layout($border, $state: 'default') {
    background-color: $white;
    #{$border}: 4px solid;

    @if $state == 'selected' {
        #{$border}-color: $pink;
    } @else if $state == 'disabled' {
        #{$border}-color: $disabled-color;
    } @else {
        #{$border}-color: $blue;
    }
}
